* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    max-width: 100%;
    margin: 0;
}

header {
    max-width: 100%;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    background-color: blueviolet;
}

header h1 {
    margin: 0;
}

main {
    max-width: 70%;
    margin: 10px auto;
}

nav {
    width: 20%;
    margin: 0 5px 0 0;
    padding: 10px 0;
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}